:root {
    --colo1: rgb(22, 160, 240);
    --colo2: rgb(183, 217, 236);
    --colo3: rgb(0, 0, 0);
}

:target:before {
  content:"";
  display:block;
  height:75px; /* fixed header height*/
  margin:-75px 0 0; /* negative fixed header height */ 
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    color: var(--colo1);
    font-family: serif;
    text-shadow: 0 0 9px rgb(255, 255, 255);
    text-align: center;
    background: radial-gradient(var(--colo1), var(--colo2));
}

header {
  padding: 20px 15px;
  background-color: var(--colo3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: radial-gradient(var(--colo1), var(--colo2));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}



header h1 {
    font-weight: bold;
    font-size:3.3vmax;
    color: rgb(22, 160, 240);
    margin: 0;
    text-shadow: 0 0 9px var(--colo1);
}  



header a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    color: var(--colo1);
}

header nav {
    margin: 1px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
  }

  header nav ul li a {
    padding: 10px 5px 10px 15px;
    font-weight: lighter;
    font-size: 2vmax;
    text-shadow: 0 0 7px rgb(22, 160, 240);
  }
  
  header nav ul li a:hover {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-shadow:  0 0 9px var(--colo1);
  }

  header h1 a:hover {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-shadow:  0 0 9px var(--colo1);
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    padding: 25px 15px 10px 15px;
  }
  
  footer h2 {
   font-size: 2.5vmax;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    font-size: 2.5vmax;
    margin: 0;
    color: var(--colo1)
  }

  footer a:hover {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-shadow:  0 0 9px rgb(255, 255, 255);
  }
 
  .hero {
    background: radial-gradient(var(--colo1), var(--colo2));
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
    
  }

  .hero h2 {
    font-size: 8vmax;
  }
  
  .hero h3 {
    font-size: 3vmax;
  }

  .flex {
    margin: 0px;
    display: flex;
    margin-bottom: 2rem;
    background: radial-gradient(var(--colo1), var(--colo2));
    text-shadow:  0 0 9px rgb(255, 255, 255);
    color: var(--colo2);

  }

  .flex div:first-child {
    flex: 1;
    background-size: cover;
    background-position: top;
  }

  .flex div:last-child {
    margin: 2rem;
    flex: 2;
  }

  .flex h3 {
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 400;
  }
  .flex p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
  }

  .flex p:last-of-type {
    margin-bottom: 0;
  }

  .flex:first-of-type div:first-child {
    background-image: url("../Images/port-photo.jpg"); alt: (Jarod);
  }

  #what-i-do h2 {
    font-size: 2em;
    color: var(--colo1);
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    padding: 0 0 5px 0;
    margin: 0 auto;
  }

  .container1 h4{
    position: absolute;
    display: block;
    width: 75%;
    bottom: 8px;
    left: 10px;
    font-size: 3vmax;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
  }

  .container2 {
    display: flex;
    flex-wrap: wrap;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
  }

  .container2 h4{
    position: absolute;
    width: 70%;
    bottom: 8px;
    left: 50px;
    font-size: 2.5vmax;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
    padding: 0 0 .7em 0;
  }
  

 .responsive1 {
  width: 100%;
  max-width: 1500px;
  height: auto;
 }

 .responsive2 {
   width: 100%;  
   max-width: 1200px;
   height: auto;
 }

#how-we-meet {
  background: radial-gradient(var(--colo2), var(--colo1));
  position: relative;
  justify-content: center;
  

}

#how-we-meet h2 {
  font-size: 5vmax;

}

#how-we-meet div ul {
  padding: 5px 15px 25px 15px;
  list-style: none;
  color: var(--colo1);
  font-size: 2vmax;
  text-decoration: underline;

}

#how-we-meet div ul li a:hover {
color: white;
text-shadow: 0 0 9px var(--colo1);
}

a:-webkit-any-link {
  color: var(--colo1);


 @media screen and (min-width:768px) 
  {
     .hero #caption h2 {
      font-size: 9vmax;
    }
  
     .hero #caption h3{
       font-size: 3vmax;
     }

     .flex h3 {
       font-size: 5vmax;
     }
    
     .flex p {
       font-size: 2.5vmax;
     }

     #what-i-do h2 {
      font-size: vmax;
    }

    #what-i-do h4 {
      font-size: 2.3vmax;
    }
  
 
  @media screen and (min-width:768px) 
  {
     .hero #caption h2 {
      font-size: 9vmax;
    }
  
     .hero #caption h3{
       font-size: 3vmax;
     }
    
  }

  @media screen and (min-width:992px) 
  {
     .hero #caption h2 {
      font-size: 9vmax;
    }
  
     .hero #caption h3{
       font-size: 3vmax;
     }
    
  }

  @media screen and (min-width:1200px) 
  {
     .hero #caption h2 {
      font-size: 9vmax;
    }
  
     .hero #caption h3{
       font-size: 3vmax;
     }
    
  }

  }
}